# **Task List for 4525_computer_infrastructure**
---
![Computer Infrastructure](https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Thread_pool.svg/1920px-Thread_pool.svg.png)
###### *Image by @I, Cburnett, https://commons.wikimedia.org/wiki/User:Cburnett*


## Part 2: *Tasks 1-7*
---

### Task 1: Create Directory Structure

Task 1 was to create a main directory named **data**, with two subdirectories **timestamps** and **weather**. 

This was accomplished using the command "mkdir data" to create the **data** directory and then using "mkdir data/weather" and "mkdir data/timestamps" to create the two subdirectories.


### Task 2: Timestamps

Task 2 required using the "date" command to append the current date and time to a file named now.txt in the **timestamps** subdirectory. 

First, the active folder was changed from the repository's root directory to **timestamps** using command "cd ./data/timestamps" [change directory to **timestamps**]. Then the command "date >> now.txt" was used to fetch today's date ["date"] and then to append it [">>"] to the file "now.txt" (which the command also created, as there was no existing folder called "now.txt" in that subdirectory). This process was then repeated 10 times using copy/paste. As the file "now.txt" now existed in the subdirectory, this simply led to the date appended being appeneded to the already existing file 10 more times. Finally, the command "more now.txt" was used to check the contents of the file "now.txt" in the terminal.


### Task 3: Formatting Timestamps

Task 3 was similar to task 2 but required that the date was appended in a specific format (YYYYmmdd_HHMMSS).

Consequently the process was largely the same as that for task 2. The only differences were that the file name was changed to "formatted.txt" and the command for appending the date to the file was changed to "date+"%Y%m%d_%H%M%S >> formated.txt". This appended the data in the required format.


### Task 4: Create Timestamped Files

Task 4 involved creating an empty file which had the current date/time as it's title.

To do this the command "touch `date +"%Y%m%d_%H%M%S.txt"" was used. "touch" was used generate a new empty file and "date +"%Y%m%d_%H%M%S.txt" was placed in backticks after it so that Bash knew that the results of this command should be the file name and that this should be calculated before the "touch" part of the command took place. 


### Task 5: Download Today's Weather Data

Task 5 was to download today's weather data for Athenry and to save it into a file.

First of all, as this data had to go into the weather subdirectory, this directory was navigated to using the "cd .." command to go back up on directory (to **data**) and then "cd ./weather" was used to navigate to the **weather** subdirectory. Once in the subdirectory, used the command wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today to fetch the data ["wget"] from Met Eireann's API ["https://prodapi.metweb.ie/observations/athenry/today"] and then to place the results in a new file, "weather.json" ["-O weather.json"].

### Task 6: Timestamp the Data

Task 6 was the same as task 5 but the filename had to include a timestamp, like with task 4.

The command used this time was "wget -O date +"%Y%m%d_%H%M%S.json" https://prodapi.metweb.ie/observations/athenry/today". This did the same things as the command used in task 5 but the name of the file was swapped to the current hour/data (formatted into YYYYmmdd_HHMMSS.json) by swapping out "weather.json" with "date +"%Y%m%d_%H%M%S.json"".

### Task 7: Write the Script

Task 7 invovled writing a bash script to automate process 6.

To do this, a script file called "weather.sh" was created in the root repository. Two lines of code were included in this. The first of these was "#! /bin/bash". This let the file know that the following script was to be interpreted and run by the bash shell. The second was the command "wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"` https://prodapi.metweb.ie/observations/athenry/today". This was the bash code that actually generated the new files and it was largely the same as that used for task 6, though it had to be altered slightly to faciliate automation: "data/weather/" was included afer "-0", so that the code knew where to save the file it generated, and this in turn meant that filename had to be put in backticks, so that the code knew to generate a new file with this as the file name.

## Part 2: Task 9
---
### Task 9: pandas

Task 9 required loading the data from one of the files from task 7 into this juniper notebook. The data then had to be summarised.

In [20]:
# Data Frames
import pandas as pd

In [21]:
# Read the data
f = pd.read_json('/workspaces/2425/data/weather/20241108_123309.json')

# Show
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,SE,135,86,0,1022,Friday,2024-08-11,00:00
1,Athenry,13,04n,Cloudy,"""Cloudy""",13,-,SE,135,87,0,1021,Friday,2024-08-11,01:00
2,Athenry,12,04n,Cloudy,"""Cloudy""",11,-,SE,135,89,0,1021,Friday,2024-08-11,02:00
3,Athenry,13,04n,Cloudy,"""Cloudy""",15,-,SE,135,86,0,1021,Friday,2024-08-11,03:00
4,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,SE,135,84,0,1021,Friday,2024-08-11,04:00

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   13 non-null     object
 1   temperature            13 non-null     int64
 2   symbol                 13 non-null     object
 3   weatherDescription     13 non-null     object
 4   text                   13 non-null     object
 5   windSpeed              13 non-null     int64
 6   windGust               13 non-null     object
 7   cardinalWindDirection  13 non-null     object
 8   windDirection          13 non-null     int64
 9   humidity               13 non-null     int64
 10  rainfall               13 non-null     int64
 11  pressure               13 non-null     int64
 12  dayName                13 non-null     object
 13  date                   13 non-null     datetime64[ns]
 14  reportTime             13 non-null     object
dtypes: datetime64[ns](1), int64(6), object(8)
memory usage: 1.7+ KB

So, we can see that the data includes 13 rows which chart: the temperature, the wind speed and direction, humidity, rainfall, pressure, the type of weather (e.g. "cloudy") and the time the date/time the reading was taken at. This data is stored in the dataset in a variety of formats (objects, intergers, datetime), as you might expect from a dataset covering a variety of topics.

The fact there are only 13 entries in the dataset is likely due to the time at which the API was accessed. This is daily weather data which was downloaded from Met Eirean's API at 12:33:09. As (according to the first line of the dataset) it starts each day at 00:00 and updates hourly, that means we would expect to see 13 entries (00:00-12:00) if the data was indeed dowloaded at 12:33. Data downloaded later would have more entries, likely up to 24 (assuming Met Eireann tracks weather data for every hour of the day).

In [23]:
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,13.000000,13.000000,13.000000,13.000000,13.0,13.000000,13
mean,12.769231,11.615385,131.538462,85.461538,0.0,1021.000000,2024-08-11 00:00:00
min,12.000000,9.000000,90.000000,83.000000,0.0,1020.000000,2024-08-11 00:00:00
25%,13.000000,11.000000,135.000000,84.000000,0.0,1021.000000,2024-08-11 00:00:00
50%,13.000000,11.000000,135.000000,86.000000,0.0,1021.000000,2024-08-11 00:00:00
75%,13.000000,13.000000,135.000000,87.000000,0.0,1021.000000,2024-08-11 00:00:00
max,13.000000,15.000000,135.000000,89.000000,0.0,1022.000000,2024-08-11 00:00:00
std,0.438529,1.894662,12.480754,1.808101,0.0,0.408248,NaN

As a final point of note we can see that, on this day, it was a fairly consistent, if miserable, cloudy day. The seems to have hung around 13 degrees all day, only droping from this to 12 degrees for a fairly limited part of the day (less than 25%). Most other fields were also fairly consistent throughout the day (e.g. there was never any rain and the humidity only moved from a minimum of 83 to a maximum of 89).

# END